CompileFlags:
  Add:
    - "-ferror-limit=0"
    
    - "-D__sfr=volatile unsigned char"
    - "-D__sbit=volatile unsigned char"
    - "-D__at(x)=" 
    - "-D__code=" 
    
    - "-Dsfr=volatile unsigned char"
    - "-Dsbit=volatile unsigned char"
    
    - "-D_SDCC"
    - "-D__SDCC__"
    - "-I/usr/share/sdcc/include"
    - "-Wno-main-return-type"

Diagnostics:
  Suppress:
    - "misc-definitions-in-headers"
    - "init_element_not_constant"
    - "clang-diagnostic-unknown-typename"
